li{
    margin:10px;
    list-style-type: none;
}

button{
    background-color: rgb(40, 106, 214);
    color:white;
    padding: 10px 10px;
    border: 1px solid rgb(40, 106, 214);
    border-radius: 5px;
}